p {
  color: #f5913e;
  font-family: 'Courier New', Courier, monospace;
}

.quote-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 20px;
}

.author {
  margin-left: auto;
}
