* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  padding: 1vh 2.5vw;
}

p {
  font-family: sans-serif;
}

/* Headers Styles */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.header h1 {
  font-size: 40px;
}

.header nav ul {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  text-decoration: none;
}

.header nav ul a {
  text-decoration: none;
}

.header span {
  font-size: 30px;
}

/* Button Styles */

.btns {
  display: flex;
  flex-direction: row;
}

button {
  height: 60px;
  width: 90px;
  margin: 1px;
  font-weight: 900;
  border: none;
}

.zero {
  width: 182px;
}

.orange-btns {
  display: flex;
  flex-direction: column;
}

.orange-btns button {
  background-color: #f5913e;
}

button:active {
  background-color: lightgray;
}
